<nav>
  <a href="/">
    <span>Home</span>
  </a>

  <a href="/search">
    <span>Search</span>
  </a>

  <a href="/auth/new">
    <span>Register</span>
  </a>

  <% if (user) { %>
  <!-- If the user is logged in -->
  <a href="/auth/exit">
    <span>Logout</span>
  </a>
  <% } else { %>
  <!-- If the user is not logged in -->

  <a href="/auth">
    <span>Login</span>
  </a>
  <% } %>
</nav>
