<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %> <%- include('./partials/header.ejs') %>
  <p>Welcome to Owlbear Books! Please login to continue.</p>
  <form action="/auth" method="post" class="login">
    <input type="text" name="username" id="username" placeholder="Username" />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
    <p>Don't have an account? <a href="/auth/new">Register Here</a></p>
    <button type="submit">Login</button>
  </form>
</body>
