<body>
  <%- include('./partials/nav.ejs') %>

  <h1>Search</h1>

  <form action="/search/results" method="GET">
    <label for="serach-term">Search</label>
    <input type="text" name="search-term" id="serach-term" />
    <select name="db-select" id="db-select">
      <option value="postgres">PostgreSQL</option>
      <option value="mongo">Mongo DB</option>
      <option value="both">Both</option>
    </select>
    <button type="submit">Search</button>
  </form>
</body>
