:root {
  --postgres-color: #336791;
  --mongo-color: #00684a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
}

.book-img {
  width: 64px;
  object-fit: contain;
  background-color: rgb(123, 123, 123);
  padding: 8px;
  border-radius: 4px;
}

.book-card {
  display: flex;
  background-color: grey;
  width: 240px;
  padding: 16px;
  gap: 16px;
  position: relative;
  background-color: rgb(190, 190, 190);
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  right: -16;
  top: -16;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  border: 4px lightblue solid;
}

.postgres .logo-container {
  border-color: var(--postgres-color);
}

.mongo .logo-container {
  border-color: var(--mongo-color);
}

.logo {
  height: 24px;
}

.book-title {
  /* font-size: 24px; */
  margin-right: 24px;
}

.book-content {
  display: flex;
  flex-direction: column;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.genre {
  font-size: 8px;
}

input {
  font-size: 16px;
  padding: 4px 4px;
}

.login {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: rgb(190, 190, 190);
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.login h2 {
  align-self: center;
  font-size: 24px;
}

.login hr {
  border: none;
  height: 2px;
  background-color: rgb(109, 109, 109);
  border-radius: 8px;
  margin-bottom: 16px;
}

.login p {
  align-self: center;
}

.login button {
  height: 32px;
}

.reg-div {
  width: 256px;
}

.home-buttons {
  display: flex;
  gap: 16px;
  padding: 24px;
}

.home-btn {
  width: 148px;
  height: 48px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.home-btn span {
  font-size: 18px;
  text-decoration: none;
}

.btn-login {
  background-color: rgb(195, 196, 201);
  color: black;
}

.btn-register {
  background-color: rgb(108, 131, 200);
  color: white;
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-div p {
  font-size: 8px;
}

.reg-message {
  padding-top: 8px;
  padding-bottom: 16px;
}

header h1 {
  font-size: 48px;
  padding: 16px;
}

nav {
  width: 400px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

nav a {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: rgb(108, 131, 200);
  color: white;
}

select {
  height: 32px;
}

.search {
  width: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 100px;
  background-color: rgb(190, 190, 190);
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 32px;
}

.search input {
  width: 300px;
}

.search button {
  height: 32px;
  width: 100px;
}

.results-head {
  font-size: 24px;
  margin-bottom: 32px;
}

.error-message {
  color: rgb(112, 20, 20);
  align-self: flex-start;
  font-size: 10px;
}

.active {
  background-color: rgb(108, 131, 200);
  color: white;
}
